# Node
node_modules/
.pnpm-store/
dist/
.astro/
.DS_Store

# Python
__pycache__/
.venv/
.pytest_cache/
.coverage

# Env
*.env
backend/.env
client/.env

# OS
.DS_Store
**/instructions/*
spec.txt
nginx*
client/**/README.md
backend/**/README.md