---
import "../styles/global.css";
import Layout from "../layouts/Layout.astro";
import {AuthGuard} from "../providers/AuthGuard";
import {BadgesIsland} from "../islands/BadgesIsland";
---

<Layout>
<AuthGuard client:load>
  <main class="max-w-5xl mx-auto p-6 space-y-8">
    
    <!-- Badges Grid -->
    <BadgesIsland client:load />

  </main>
</AuthGuard>
</Layout>
