---
import "../styles/global.css";
import {LoginFormIsland} from "../islands/LoginFormIsland";
import Layout from "../layouts/Layout.astro";
import {LoginAuthCheck} from "../islands/react/LoginAuthCheck";
---

<Layout>
<LoginAuthCheck client:load>
<main class="grid place-items-center p-6">
  <div class="w-full max-w-sm rounded-xl shadow p-6">
    <div class="text-center mb-6">
      <h1 class="text-2xl font-semibold mb-2">Fitness & Habit Tracker</h1>
      <p class="text-sm text-gray-600 dark:text-gray-400">Sign in to your account</p>
    </div>
    <LoginFormIsland client:load />
  </div>
  
 </main>
</LoginAuthCheck>
</Layout>
