---
import "../../styles/global.css";
import ProgressChart from "../../islands/react/ProgressChart";
import Layout from "../Layout.astro"
export const prerender = false;
---
<Layout>

  <main class="max-w-3xl mx-auto p-6 space-y-6">
    <a class="text-sm opacity-70 hover:opacity-100" href="/dashboard">← Back</a>
    <h1 class="text-2xl font-semibold">Habit</h1>
    <ProgressChart client:load />
  </main>
  
</Layout>

