---
const currentYear = new Date().getFullYear();
---

<footer class="py-8 text-center text-sm bg-zinc-200 dark:bg-neutral-900 text-zinc-900 dark:text-zinc-200">
  <p>&#169; {currentYear} Fitness & Habit Tracker</p>
</footer>


